spring:
  application:
    name: zuul-inside-payment

server:
  port: 30007

eureka:
  client:
    service-url:
      defaultZone: http://eureka-demo:8030/eureka/
    registry-fetch-interval-seconds: 5
  instance:
    prefer-ip-address: true
    instance-id: ${spring.cloud.client.ip-address}:${server.port}

zuul:
  routes:
    zuul:
      path: /zuulApi/**
      service-id: zuul-inside-payment

    inside-payment:
      path: /api/v1/inside_pay_service/**
      service-id: ts-inside-payment-service
      strip-prefix: false

  sensitive-headers:

ribbon:
  ConnectionTimeout: 10000
  ReadTimeout: 600000
